@page "/add-project"
@*@layout MainLayout*@
@inherits Timereg.Pages.AddProjectComponent

@using Radzen
@using Radzen.Blazor
@using Timereg.Models.Timeregdata
@using Timereg.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<RadzenContent Container="main">
    <ChildContent>
        <div class="row">
            <div class="col-md-12">
                <RadzenTemplateForm Data="@project" Visible="@(project != null)" TItem="Timereg.Models.Timeregdata.Project" Submit="@Form0Submit">
                    <ChildContent>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Projectname" Component="Projectname" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox MaxLength="200" style="width: 100%" @bind-Value="@(project.projectname)" Name="Projectname">
                                </RadzenTextBox>
                            </div>
                        </div>

                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Company" Component="companyid" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenDropDown Data="@getCompany" TextProperty="companyname" ValueProperty="companyid" Placeholder="Choose company" style="display: block; width: 100%" @bind-Value="@(project.companyid)" Name="companyid">
                                </RadzenDropDown>
                                <RadzenRequiredValidator Component="companyid" Text="company is required" style="position: absolute" DefaultValue="0">
                                </RadzenRequiredValidator>
                            </div>
                        </div>

                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="project type" Component="projecttype" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenDropDown Data="TimeregdataService.ProjectType()" TextProperty="Value" ValueProperty="Key" Placeholder="Choose project type" style="display: block; width: 100%" @bind-Value="@(project.projecttype)" Name="projecttype">
                                </RadzenDropDown>
                            </div>
                        </div>

                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Color" Component="color" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox MaxLength="200" style="width: 100%" @bind-Value="@(project.color)" Name="Color">
                                </RadzenTextBox>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Project description" Component="projectcode" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextArea Rows="3" MaxLength="500" style="width: 100%" @bind-Value="@(project.projectcode)" Name="Projectcode">
                                </RadzenTextArea>
                            </div>
                        </div>

                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Validfrom" Component="validfrom" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenDatePicker DateFormat="dd/MM/yyyy" style="display: block; width: 100%" @bind-Value="@(project.validfrom)" Name="Validfrom">
                                </RadzenDatePicker>
                                <RadzenRequiredValidator Component="Validfrom" Text="validfrom is required" style="position: absolute">
                                </RadzenRequiredValidator>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Validto" Component="validto" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenDatePicker DateFormat="dd/MM/yyyy" style="width: 100%" @bind-Value="@(project.validto)" Name="Validto" Change="DateChange">
                                </RadzenDatePicker>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col offset-sm-3">
                                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                                </RadzenButton>
                                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                                </RadzenButton>
                            </div>
                        </div>
                    </ChildContent>
                </RadzenTemplateForm>
            </div>
        </div>
    </ChildContent>
</RadzenContent>
